{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/20200907_170905_0000.png' %}">
    <title>ciclismo</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estiloform.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/productos.css' %}">
    <style type="text/css">
    input.transparent-input{
       background-color: #ECEFF3;
    }

    </style>
</head>
  <body>
  <a class="carousel-control-prev" href="{% url 'camping.html' %}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>  
  	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="{% static 'img/ciclismo/bicicleta.png' %}" alt="carpa">
        <div class="overlay">
           <h2>Bicicletai</h2>
           <a class="info" href="{% url 'compra_create' %}">Comprar</a>
        </div>
    </div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="{% static 'img/ciclismo/Cadena.png' %}" alt="saco">
        <div class="overlay">
           <h2>Cadena Bicicleta</h2>
           <a class="info" href="{% url 'compra_create' %}">Comprar</a>
        </div>
    </div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="{% static 'img/ciclismo/Guantes.png' %}" alt="banano">
        <div class="overlay">
           <h2>Guantes Ciclismo</h2>
           <a class="info" href="{% url 'compra_create' %}">Comprar</a>
        </div>
    </div>
	</div>
  <a class="carousel-control-next" href="{% url 'kayak.html' %}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
    <video id="videoBG1" autoplay muted loop>
        <source src="{% static 'img/ciclismo.mp4' %}" type="video/mp4">
    </video>
  </body>
</html>
{% endblock %}