{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>

   {% load static %}
 
</head>
<body>
    
<nav class="navbar navbar-expand-lg bg-dark sticky-top navbar-toggleable-sm">
  <!--hamburguesa-->
    <button class="navbar-toggler btn-success" type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
    </button>
  <!-- imagen menu -->
  <a class="navbar-brand" href="{% url  'index.html' %}">
    <img src="{% static 'icono/widia.png' %}" width="40" height="40" alt="logo">
  </a>
  <!-- Barra-->
    <div class="collapse navbar-collapse" id="opciones">
    <ul class="navbar-nav mr-auto" >
    <li>
      <a class="nav-link text-light" href="{% url 'index.html' %}">INICIO</a>
    </li>
    
  <!-- Dropdown -->
    <li class="nav-item">
        <a class="nav-link dropdown text-light" href="{% url 'quehacer.html' %}" >QUÉ HACER</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'tienda.html' %}">TIENDA</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'acercadeee.html' %}">ACERCA DE CHILE</a>
    </li>

   
    </ul>
    
    </div>
  
</nav>
<!--carrusel-->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
  
        <a href="#accesorios"><img src="{% static 'img/tienda1.jpg' %}" alt="Norte" width="1920" height="800" ></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Trekking</h5>
          <small>Cuidate y disfruta de la naturaleza!</small>
        </div>
      </div>
      <div class="carousel-item">
  
        <a href="#accesorios"><img src="{% static 'img/tienda2.jpg' %}" alt="Centro" width="1920" height="700"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Playa</h5>
          <small>Comparte con la frescura de la playa!</small>
        </div>
      </div>
      <div class="carousel-item">
  
        <a href="#accesorios"><img src="{% static 'img/tienda3.jpg' %}" alt="sur" width="1920" height="700"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Nieve</h5>
          <small>La belleza de la nieve en su maximo esplendor!</small>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
<
<div class="container">
  <br>
  <div class="alert alert-warning" role="alert" id= "accesorios">
     Debido a la contingencia por el <a href="https://www.conaf.cl/protocolo-de-coronavirus-covid-19/" target="_blank" class="alert-link">COVID-19</a>. No todos los puntos turisticos estan abiertos!.
  </div>
  <hr>
  <h2 class="centrar" >Accesorios</h2>
  <hr>
  <main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/ACCESORIOS/camping.jpg' %}">
            <div class="card-body">
              <p class="card-text">Encontraras todos los accesorios necesarios para salir de Camping!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="text" class="btn btn-sm btn-outline-info"><a href="{% url 'camping.html' %}" target="_blank">Camping</a></button>
                </div>
                <small class="text-muted">Stock: 50 Unidades</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/ACCESORIOS/playa.jpg' %}">
            <div class="card-body">
              <p class="card-text">¿Vacaciones en la playa sin accesorios? bueno este no sera el caso!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'playa.html' %}" target="_blank">Playa</a></button>
                </div>
                <small class="text-muted">Stock: 50 Unidades</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/ACCESORIOS/nieve.jpg' %}"  >
            <div class="card-body">
              <p class="card-text">Podras Esquiar sin ningun problema con nuestros accesorios y mucho más!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'nieve.html' %}" target="_blank">Nieve</a></button>
                </div>
                <small class="text-muted">Stock: 50 Unidades</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/ACCESORIOS/kayak.jpg' %}"  >
            <div class="card-body">
              <p class="card-text">Sube todas las montañas que quieras con nuestros accesorios!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'kayak.html' %}" target="_blank">Kayak</a></button>
                </div>
                <small class="text-muted">Stock: 50 Unidades</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/ACCESORIOS/trekking.png' %}"  >
            <div class="card-body">
              <p class="card-text">Cuidate y disfruta de la naturaleza con nuestros accesorios!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'trekking.html' %}" target="_blank">Trekking</a>
                </div>
                <small class="text-muted">Stock: 50 Unidades</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/ACCESORIOS/ciclismo.jpg' %}"  >
            <div class="card-body">
              <p class="card-text">Ningun ladron internacional podra quitarte nuestros accesorios!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'ciclismo.html' %}" target="_blank">Ciclismo</a></button>
                </div>
                <small class="text-muted">Stock: 50 Unidades</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="centrar">Vestimenta</h2>
     <hr>

     <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="album py-5 bg-light">
                <div class="container">
            
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="{% static 'img/VESTIMENTA/chaqueta.jpg' %}"  >
                        <div class="card-body">
                          <p class="card-text">No pasaras frio en ningun lado con nuestras chaquetas! </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="text" class="btn btn-sm btn-outline-info"><a href="{% url 'chaqueta.html' %}" target="_blank">Chaquetas</a></button>
                            </div>
                            <small class="text-muted">Stock: 50 Unidades</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="{% static 'img/VESTIMENTA/Poleron.png' %}"  >
                        <div class="card-body">
                          <p class="card-text">Que te pongan el gorro o no? tu decides...
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'poleron.html' %}" target="_blank">Polerones</a></button>
                            </div>
                            <small class="text-muted">Stock: 50 Unidades</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="{% static 'img/VESTIMENTA/Polera.png' %}"  >
                        <div class="card-body">
                          <p class="card-text">Tienes la opcion de enseñar tus biceps con nuestras Poleras!</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'polera.html' %}" target="_blank">Poleras</a></button>
                            </div>
                            <small class="text-muted">Stock: 50 Unidades</small>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="{% static 'img/VESTIMENTA/Pantalon.jpg' %}"  >
                        <div class="card-body">
                          <p class="card-text">Una relación muy larga con nuestros Pantalones!</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'pantalon.html' %}" target="_blank">Pantalones</a></button>
                            </div>
                            <small class="text-muted">Stock: 50 Unidades</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="{% static 'img/VESTIMENTA/Short.jpg' %}"  >
                        <div class="card-body">
                          <p class="card-text">Quede corto de ideas, pero tambien son cortos nuestros productos!</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'short.html' %}" target="_blank">Shorts</a></button>
                            </div>
                            <small class="text-muted">Stock: 50 Unidades</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="{% static 'img/VESTIMENTA/Zapato.jpg' %}"  >
                        <div class="card-body">
                          <p class="card-text">Siente la comodidad de nuestros calzados!</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'calzado.html' %}" target="_blank">Calzados</a></button>
                            </div>
                            <small class="text-muted">Stock: 50 Unidades</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          

</main>
</div>
{%load static%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

</body>
</html>
{% endblock %}